{% block content %}
  You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.

  Please go to the following page and choose a new password:
  {% block reset_link %}
  your verification code is: {{token}}
  please visit the following link and enter the verification code:
  {{ protocol }}://{{ domain }}{% url 'reset-password-token' uidb64=uid %}
  {% endblock %}

  Your username, in case you've forgotten: {{ user.username }}

  Thanks for using our site!

  The {{ site_name }} team.
{% endblock content %}